@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-left .img {
  width: 35px;
  height: 36.232px;
}
.navbar-left .text {
  font-family: Rubik;
  padding-left: 10px;
  color: #0B132A;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.navbar-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.navbar-center .word {
  margin: 0 40px;
  color: #4F5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-right .right-text {
  padding-right: 30px;
  color: #0B132A;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.navbar-right .Entrance {
  width: 150px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid #F53855;
  color: #F53855;
  background: #FFF;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.container .left-side {
  width: 50%;
  margin-left: 150px;
  margin-top: 100px;
}
.container .left-side h1 {
  margin-top: 126px;
  height: 140px;
  width: 555px;
  color: #0B132A;
  font-family: Rubik;
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  line-height: 70px;
}
.container .left-side p {
  margin-top: 20px;
  width: 555px;
  color: #4F5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.container .left-side .btn {
  margin-top: 50px;
  border: none;
  box-shadow: 0px 32px 31px 10px rgba(255, 0, 0, 0.2);
  border-radius: 10px;
  background: #F53838;
  width: 250px;
  height: 60px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  cursor: pointer;
}

.right-side img {
  margin-top: 120px;
  margin-right: 83px;
  max-width: 100%;
  height: auto;
}

.stats-container {
  width: 1140px;
  height: 200px;
  margin-top: 103px;
  margin-left: 220px;
  font-family: Rubik;
  background-color: #f9fbfd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.stats-container .stat {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 90px;
  padding-right: 90px;
}
.stats-container .stat .icon {
  width: 55px;
  height: 55px;
  border-radius: 70px;
  background: #FFECEC;
}
.stats-container .stat .icon img {
  display: block;
  width: 24px;
  height: 24px;
  padding-left: 15px;
  padding-top: 15px;
}
.stats-container .stat .info .number {
  padding-left: 30px;
  font-size: 24px;
  font-weight: 700;
}
.stats-container .stat .info .label {
  padding-top: 5px;
  padding-left: 36px;
  color: #4F5665;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.stats-container .divider {
  width: 10px;
  height: 125.573px;
  border-right: 1px solid #ECECEC;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
}
.more .image {
  margin-right: 169px;
  margin-right: 79px;
  margin-left: 184px;
  margin-top: 95px;
}
.more .text-container {
  max-width: 600px;
  margin-right: 70px;
  margin-top: 70px;
  margin-left: 169px;
}
.more .text-container .sub {
  color: #0B132A;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}
.more .text-container .description {
  color: #4F5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.more .text-container .info-blocks {
  display: flex;
  flex-direction: column;
}
.more .text-container .info-blocks .info-item {
  display: flex;
  align-items: center;
  color: #4F5665;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 15px;
}
.more .text-container .info-blocks .info-item .icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.chapter {
  text-align: center;
}
.chapter .main-title {
  color: #0B132A;
  text-align: center;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin-top: 211px;
  margin-bottom: 20px;
}
.chapter .main-description {
  margin-bottom: 60px;
  color: #4F5665;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-left: 174px;
  margin-right: 176px;
}
.card-container .card {
  width: 330px;
  height: 760px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex: 1;
}
.card-container .card .card-image {
  width: 144.904px;
  height: 165.374px;
  margin-top: 79px;
  margin-bottom: 30px;
}
.card-container .card .card-title {
  margin: 0;
  margin-bottom: 30px;
  color: #0B132A;
  text-align: center;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.card-container .card .card-list {
  margin: 0;
  padding: 0 100px;
}
.card-container .card .card-list li {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  color: #4F5665;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.card-container .card .card-list li .icon {
  margin-right: 20px;
  width: 24px;
  height: 24px;
}
.card-container .card .card-footer {
  color: #0B132A;
  text-align: center;
  font-family: Rubik;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 130px;
}
.card-container .card .card-bottom {
  color: #0B132A;
  text-align: center;
  font-family: Rubik;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 90px;
}
.card-container .card .card-down {
  color: #0B132A;
  text-align: center;
  font-family: Rubik;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 50px;
}
.card-container .card .card-button {
  box-shadow: -1px 8px 35px 5px rgba(80, 34, 34, 0.22);
  margin-bottom: 50px;
  border-radius: 50px;
  border: 2px solid #F53838;
  width: 177.876px;
  height: 45px;
  color: #FFFFFF;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #F53838;
  padding: 10px 15px;
  cursor: pointer;
}

.huge {
  text-align: center;
}
.huge .see {
  margin: 0;
  margin-top: 150px;
  color: #0B132A;
  text-align: center;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}
.huge .subtitle {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 140px;
  color: #4F5665;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.huge .main-pic {
  width: 1060px;
  height: 537.771px;
}

.gallery {
  display: flex;
  gap: 47px;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 109px;
}
.compartment {
  margin: 0;
  text-align: center;
  font-family: Rubik;
}

.feedback-title {
  margin-top: 124px;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.feedback-description {
  margin: 0;
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 60px;
}

.reviews {
  display: flex;
  justify-content: space-between;
  height: 230px;
  top: 4094.25px;
  left: 150px;
  gap: 50px;
  border-radius: 10px 0px 0px 0px;
  border: 2px 0px 0px 0px;
  margin-left: 150px;
  margin-right: 150px;
}

.review {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  flex-direction: column;
}

.review-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-pic {
  margin-bottom: 15px;
  margin-left: 30px;
  margin-top: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.review-info {
  flex-grow: 1;
  text-align: left;
}

.reviewer-name {
  padding: 0;
  margin-top: 36px;
  margin-left: 20px;
  margin-bottom: 5px;
  color: #0B132A;
  text-align: center;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.review-text {
  white-space: nowrap;
  padding: 0;
  margin: 0;
  margin-left: 21px;
  width: 109.36px;
  height: 14px;
  color: #4F5665;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.rating {
  margin-right: 10px;
  width: 24px;
  height: 16px;
  color: #0B132A;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

.review-content {
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  width: 340px;
  height: 100px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.review-image {
  margin-top: 46px;
  margin-bottom: 37px;
  margin-right: 30px;
  width: 16px;
  height: 16px;
}

.switch {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.switch .left-switch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 82px;
  margin-left: 130px;
}/*# sourceMappingURL=style.css.map */